<h1>Write a Tweet!</h1>
<form action="/tweets" method="post">
  <label for="content">Content: <input id="content" type="text" name="content" value=""></label>
  <br></br>
  <button type="submit" name="submit" value="submit">Submit</button>
</form>
