<h1>Create User</h1>
<form action="/signup" method="post">
  <label for="username">Username: <input id="username" type="text" name="username" value=""></label>
  <br></br>
  <label for="email">Email: <input id="email" type="text" name="email" value=""></label>
  <br></br>
  <label for="password">Password: <input id="password" type="password" name="password" value=""></label>
  <br></br>
  <button type="submit" name="create" value="Create">Sign Up</button>
</form>
